html {
    font-size: 62.5%;
    overflow-x: hidden !important;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    scroll-padding-top: 10.24rem
}

@media screen and (min-width: 768px) {
    html {
        scroll-padding-top: 11.6rem
    }
}

@media screen and (min-width: 1024px) {
    html {
        scroll-padding-top: 11.8rem
    }
}

*,
*:before,
*:after {
    box-sizing: inherit
}

body {
    box-sizing: border-box;
    margin: 0;
    font-size: 1.6rem
}

::selection {
    background: black;
    color: #fff
}

::-moz-selection {
    background: black;
    color: #fff
}

::-webkit-selection {
    background: black;
    color: #fff
}

h1,
h2,
h3,
p {
    margin: 0
}

button {
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    background: none transparent;
    color: inherit;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    font: inherit;
    line-height: normal;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.header-primary {
    font-size: 4rem;
    font-weight: 700;
    font-family: sofia-pro, sans-serif
}

@media screen and (min-width: 768px) {
    .header-primary {
        font-size: 9.6rem;
        line-height: 9.5rem
    }
}

.header-secondary {
    font-family: sofia-pro, sans-serif;
    font-size: 2.4rem;
    font-weight: 700
}

@media screen and (min-width: 768px) {
    .header-secondary {
        font-size: 4rem
    }
}

.h-\[20\.8rem\] {
    height: 20.8rem
}

.header-tertiary {
    font-size: 2.4rem;
    font-weight: 700;
    font-family: sofia-pro, sans-serif;
    line-height: 3.7rem
}

@media screen and (min-width: 768px) {
    .header-tertiary {
        font-size: 3.2rem
    }
}

.paragraph {
    font-family: sofia-pro, sans-serif;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 400
}

button {
    display: flex
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: ease all .5s;
    z-index: 999;
    position: relative;
    width: 5rem;
    height: 5rem;
    gap: .5rem
}

.hamburger.active .hamburger-bar:nth-child(1) {
    transform: rotate(-45deg)
}

.hamburger.active .hamburger-bar:nth-child(2) {
    opacity: 0
}

.hamburger.active .hamburger-bar:nth-child(3) {
    transform: rotate(45deg)
}

.object-center-5 {
    object-position: center -5%;
}

.hamburger-bar {
    display: block;
    width: 3rem;
    height: .3rem;
    margin: 0 auto;
    border-radius: .1rem;
    transition: ease all .5s;
    position: absolute
}

.hamburger-bar:nth-of-type(1) {
    top: 50%;
    transform: translateY(calc(-50% - .8rem))
}

.hamburger-bar:nth-of-type(3) {
    top: 50%;
    transform: translateY(calc(-50% + .8rem))
}

.play-pause-button {
    --percent: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(#97A3AE var(--percent), 0, #DAE1E9);
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%
}

.play-pause-button:before {
    content: "";
    display: block;
    width: 3.35rem;
    height: 3.35rem;
    background: white;
    border-radius: 50%;
    position: absolute
}

.play-pause-button .fa-play {
    opacity: 0
}

.u-img-reveal-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(151, 163, 174);
    pointer-events: none;
    opacity: 1
}

#share-overlay {
    transition: opacity .3s ease-in-out
}

*,
:before,
:after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb
}

:before,
:after {}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: sofia-pro, sans-serif;
    font-feature-settings: normal;
    font-variation-settings: normal
}

body {
    margin: 0;
    line-height: inherit
}

h1,
h2,
h3 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

strong {
    font-weight: bolder
}

small {
    font-size: 80%
}

button,
input {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button {
    text-transform: none
}

button,
[type=button] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

h1,
h2,
h3,
p {
    margin: 0
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

input::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}

input::placeholder {
    opacity: 1;
    color: #9ca3af
}

button,
[role=button] {
    cursor: pointer
}

img,
svg,
video,
iframe {
    display: block;
    vertical-align: middle
}

img,
video {
    max-width: 100%;
    height: auto
}

[hidden] {
    display: none
}

*,
:before,
:after {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-drop-shadow-color: initial;
}

::backdrop {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.bottom-0 {
    bottom: 0
}

.bottom-1\/2 {
    bottom: 50%
}

.bottom-\[4rem\] {
    bottom: 4rem
}

.bottom-full {
    bottom: 100%
}

.left-0 {
    left: 0
}

.left-1 {
  left: 1rem;
}

.left-1\/2 {
    left: 50%
}

.right-0 {
    right: 0
}

.right-\[2\.6rem\] {
    right: 2.6rem
}

.right-\[7\.5rem\] {
    right: 7.5rem
}

.top-0 {
    top: 0
}

.top-1 {
  top: 1rem;
}

.top-\[2\.6rem\] {
    top: 2.6rem
}

.top-\[9rem\] {
    top: 9rem
}

.top-full {
    top: 100%
}

.z-0 {
    z-index: 0
}

.z-10 {
    z-index: 10
}

.z-\[100\] {
    z-index: 100
}

.col-span-5 {
    grid-column: span 5 / span 5
}

.mx-\[2rem\] {
    margin-left: 2rem;
    margin-right: 2rem
}

.-ml-\[2rem\] {
    margin-left: -2rem
}

.mb-\[1\.2rem\] {
    margin-bottom: 1.2rem
}

.mb-\[1rem\] {
    margin-bottom: 1rem
}

.mb-\[2rem\] {
    margin-bottom: 2rem
}

.mb-\[4rem\] {
    margin-bottom: 4rem
}

.ml-auto {
    margin-left: auto
}

.mr-\[-6rem\] {
    margin-right: -6rem
}

.mt-\[1rem\] {
    margin-top: 1rem
}

.mt-\[2rem\] {
    margin-top: 2rem
}

.mt-\[3rem\] {
    margin-top: 3rem
}

.mt-\[4rem\] {
    margin-top: 4rem
}

.mt-\[6rem\] {
    margin-top: 6rem
}

.mt-\[8rem\] {
    margin-top: 8rem
}

.mt-auto {
    margin-top: auto
}

.block {
    display: block
}

.flex {
    display: flex
}

.grid {
    display: grid
}

.hidden {
    display: none
}

.h-\[0\.2rem\] {
    height: .2rem
}

.h-\[9\.8rem\] {
    height: 9.8rem
}

.h-\[17\.3rem\] {
    height: 17.3rem
}

.h-\[25rem\] {
    height: 25rem
}

.h-\[26rem\] {
    height: 26rem
}

.h-\[3\.2rem\] {
    height: 3.2rem
}

.h-\[3\.7rem\] {
    height: 3.7rem
}

.h-\[30\.3rem\] {
    height: 30.3rem
}

.h-\[33\.9rem\] {
    height: 33.9rem
}

.h-\[36\.5rem\] {
    height: 36.5rem
}

.h-\[4\.8rem\] {
    height: 4.8rem
}

.h-\[40rem\] {
    height: 40rem
}

.h-\[4rem\] {
    height: 4rem
}

.h-\[55\.1rem\] {
    height: 55.1rem
}

.h-\[56rem\] {
    height: 56rem
}

.h-\[57\.3rem\] {
    height: 57.3rem
}

.h-\[6\.5rem\] {
    height: 6.5rem
}

.h-\[66rem\] {
    height: 66rem
}

.h-\[6rem\] {
    height: 6rem
}

.h-\[7\.3rem\] {
    height: 7.3rem
}

.h-\[7\.9rem\] {
    height: 7.9rem
}

.h-\[8\.1rem\] {
    height: 8.1rem
}

.h-\[8\.7rem\] {
    height: 8.7rem
}

.h-\[8rem\] {
    height: 8rem
}

.h-\[92rem\] {
    height: 92rem
}

.h-auto {
    height: auto
}

.h-fit {
    height: -moz-fit-content;
    height: fit-content
}

.h-full {
    height: 100%
}

.max-h-0 {
    max-height: 0px
}

.max-h-full {
    max-height: 100%
}

.min-h-\[31\.3rem\] {
    min-height: 31.3rem
}

.max-h-\[42rem\] {
    max-height: 42rem
}

.max-h-\[41\.3rem\] {
    max-height: 41.3rem
}

.min-h-\[82\.4rem\] {
    min-height: 82.4rem
}

.m-0 {
    margin: 0;
}

.min-h-screen {
    min-height: 100vh
}

.w-\[0\.2rem\] {
    width: .2rem
}

.w-\[20rem\] {
    width: 20rem
}

.w-\[3\.75rem\] {
    width: 3.75rem
}

.w-\[3\.8rem\] {
    width: 3.8rem
}

.w-\[26\.1rem\] {
    width: 26.1rem
}

.w-\[30\.2rem\] {
    width: 30.2rem
}

.w-\[30\.8rem\] {
    width: 30.8rem
}

.w-\[4\.8rem\] {
    width: 4.8rem
}

.w-\[6\.5rem\] {
    width: 6.5rem
}

.w-\[6rem\] {
    width: 6rem
}

.w-\[calc\(100\%-4rem\)\] {
    width: calc(100% - 4rem)
}

.w-fit {
    width: -moz-fit-content;
    width: fit-content
}

.w-full {
    width: 100%
}

.w-screen {
    width: 100vw
}

.min-w-\[19\.9rem\] {
    min-width: 19.9rem
}

.min-w-\[20rem\] {
    min-width: 20rem
}

.min-w-\[28\.8rem\] {
    min-width: 28.8rem
}

.min-w-\[32rem\] {
    min-width: 32rem
}

.min-w-\[6rem\] {
    min-width: 6rem
}

.min-w-\[9\.4rem\] {
    min-width: 9.4rem
}

.min-w-\[9\.5rem\] {
    min-width: 9.5rem
}

.max-w-\[20\.5rem\] {
    max-width: 20.5rem
}

.max-w-\[61\.3rem\] {
    max-width: 61.3rem
}

.max-w-\[28\.8rem\] {
    max-width: 28.8rem
}

.max-w-\[50\%\] {
    max-width: 50%
}

.max-w-\[60rem\] {
    max-width: 60rem
}

.max-w-\[43\.1rem\] {
    max-width: 43.1rem
}

.max-w-\[52\.6rem\] {
    max-width: 52.6rem
}

.max-w-\[52\.8rem\] {
    max-width: 52.8rem
}

.max-w-none {
    max-width: none
}

.flex-1 {
    flex: 1 1 0%
}

.flex-shrink {
    flex-shrink: 1
}

.flex-shrink-0,
.shrink-0 {
    flex-shrink: 0
}

.grow {
    flex-grow: 1
}

.basis-1\/2 {
    flex-basis: 50%
}

.basis-\[calc\(\(100\%-4rem\*2\)\/3\)\] {
    flex-basis: calc((100% - 4rem * 2) / 3)
}

.basis-full {
    flex-basis: 100%
}

.-translate-x-1\/2 {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cursor-pointer {
    cursor: pointer
}

.list-inside {
    list-style-position: inside
}

.list-disc {
    list-style-type: disc
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr))
}

.grid-rows-3 {
    grid-template-rows: repeat(3, minmax(0, 1fr))
}

.grid-rows-\[auto_auto\] {
    grid-template-rows: auto auto
}

.flex-row {
    flex-direction: row
}

.flex-row-reverse {
    flex-direction: row-reverse
}

.flex-col {
    flex-direction: column
}

.flex-wrap {
    flex-wrap: wrap
}

.items-start {
    align-items: flex-start
}

.items-center {
    align-items: center
}

.items-stretch {
    align-items: stretch
}

.justify-start {
    justify-content: flex-start
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.gap-0 {
    gap: 0px
}

.gap-1 {
    gap: 1rem;
}

.gap-\[0\.5rem\] {
    gap: .5rem
}

.gap-\[0rem\] {
    gap: 0rem
}

.gap-\[1\.1rem\] {
    gap: 1.1rem
}

.gap-\[1\.3rem\] {
    gap: 1.3rem
}

.gap-\[1\.5rem\] {
    gap: 1.5rem
}

.gap-\[1\.6rem\] {
    gap: 1.6rem
}

.gap-\[1rem\] {
    gap: 1rem
}

.gap-\[2\.5rem\] {
    gap: 2.5rem
}

.gap-\[2rem\] {
    gap: 2rem
}

.gap-\[3rem\] {
    gap: 3rem
}

.gap-\[4rem\] {
    gap: 4rem
}

.gap-\[5rem\] {
    gap: 5rem
}

.gap-\[6rem\] {
    gap: 6rem
}

.gap-y-\[1\.6rem\] {
    row-gap: 1.6rem
}

.self-stretch {
    align-self: stretch
}

.overflow-auto {
    overflow: auto
}

.overflow-hidden {
    overflow: hidden
}

.whitespace-nowrap {
    white-space: nowrap
}

.rounded-full {
    border-radius: 9999px
}

.border {
    border-width: 1px
}

.border-\[0\.1rem\] {
    border-width: .1rem
}

.border-b-\[0\.1rem\] {
    border-bottom-width: .1rem
}

.border-t-\[0\.1rem\] {
    border-top-width: .1rem
}

.border-solid {
    border-style: solid
}

.border-black {
    --tw-border-opacity: 1;
    border-color: rgb(20 20 20 / var(--tw-border-opacity))
}

.border-gray-500 {
    --tw-border-opacity: 1;
    border-color: rgb(107 114 128 / var(--tw-border-opacity))
}

.border-grey {
    --tw-border-opacity: 1;
    border-color: rgb(65 89 104 / var(--tw-border-opacity))
}

.border-snowfall {
    --tw-border-opacity: 1;
    border-color: rgb(218 225 233 / var(--tw-border-opacity))
}

.border-b-grey {
    --tw-border-opacity: 1;
    border-bottom-color: rgb(65 89 104 / var(--tw-border-opacity))
}

.\!bg-black-2 {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(20 20 20 / var(--tw-bg-opacity)) !important
}

.bg-\[\#9ED8B340\] {
    background-color: #9ed8b340
}

.bg-\[\#C4C4C4\] {
    --tw-bg-opacity: 1;
    background-color: rgb(196 196 196 / var(--tw-bg-opacity))
}

.bg-aurora-borealis-1 {
    --tw-bg-opacity: 1;
    background-color: rgb(0 117 101 / var(--tw-bg-opacity))
}

.bg-aurora-borealis-2 {
    --tw-bg-opacity: 1;
    background-color: rgb(158 216 179 / var(--tw-bg-opacity))
}

.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(20 20 20 / var(--tw-bg-opacity))
}

.bg-black\/25 {
    background-color: #14141440
}

.bg-black\/40 {
    background-color: #000000;
    opacity: 0.4;
}

.bg-black-40 {
    background-color: #000000;
    opacity: 0.4;
}

.bg-black\/50 {
    background-color: #14141480
}

.bg-blue {
    --tw-bg-opacity: 1;
    background-color: rgb(17 183 225 / var(--tw-bg-opacity))
}

.bg-grey {
    --tw-bg-opacity: 1;
    background-color: rgb(65 89 104 / var(--tw-bg-opacity))
}

.bg-lake-1 {
    --tw-bg-opacity: 1;
    background-color: rgb(0 131 173 / var(--tw-bg-opacity))
}

.bg-lake-2 {
    --tw-bg-opacity: 1;
    background-color: rgb(150 218 234 / var(--tw-bg-opacity))
}

.bg-snowfall {
    --tw-bg-opacity: 1;
    background-color: rgb(218 225 233 / var(--tw-bg-opacity))
}

.bg-snowfall-1 {
    --tw-bg-opacity: 1;
    background-color: rgb(183 199 211 / var(--tw-bg-opacity))
}

.bg-transparent {
    background-color: transparent
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-opacity-25 {
    --tw-bg-opacity: .25
}

.bg-opacity-40 {
    --tw-bg-opacity: .4
}

.bg-opacity-\[0\.55\] {
    --tw-bg-opacity: .55
}

.bg-green-gradient-opacity {
    background-image: linear-gradient(0deg, rgba(59, 187, 156, .45) 0%, rgba(59, 187, 156, .45) 100%)
}

.bg-lake-gradient-opacity {
    background-image: linear-gradient(0deg, rgba(150, 218, 234, .75) 0%, rgba(150, 218, 234, .75) 100%)
}

.object-contain {
    -o-object-fit: contain;
    object-fit: contain
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover
}

.object-right {
    -o-object-position: right;
    object-position: right
}

.object-top {
    -o-object-position: top;
    object-position: top
}

.bg-opacity-60 {
    background-color: rgba(0, 0, 0, 0.6);
}

.p-1 {
    padding: 1rem;
}

.p-\[1\.2rem\] {
    padding: 1.2rem
}

.p-\[1rem\] {
    padding: 1rem
}

.p-\[2rem\] {
    padding: 2rem
}

.p-\[3rem\] {
    padding: 3rem
}

.p-\[4rem\] {
    padding: 4rem
}

.px-\[1rem\] {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-\[2\.4rem\] {
    padding-left: 2.4rem;
    padding-right: 2.4rem
}

.px-\[2rem\] {
    padding-left: 2rem;
    padding-right: 2rem
}

.px-\[3\.4rem\] {
    padding-left: 3.4rem;
    padding-right: 3.4rem
}

.px-\[3rem\] {
    padding-left: 3rem;
    padding-right: 3rem
}

.px-\[4rem\] {
    padding-left: 4rem;
    padding-right: 4rem
}

.px-\[7\.5rem\] {
    padding-left: 7.5rem;
    padding-right: 7.5rem
}

.py-\[0\.5rem\] {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.py-\[0\.6rem\] {
    padding-top: .6rem;
    padding-bottom: .6rem
}

.py-\[0\.7rem\] {
    padding-top: .7rem;
    padding-bottom: .7rem
}

.py-\[1\.2rem\] {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem
}

.py-\[1\.7rem\] {
    padding-top: 1.7rem;
    padding-bottom: 1.7rem
}

.py-\[10rem\] {
    padding-top: 10rem;
    padding-bottom: 10rem
}

.py-\[1rem\] {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.py-\[2\.3rem\] {
    padding-top: 2.3rem;
    padding-bottom: 2.3rem
}

.py-\[2\.6rem\] {
    padding-top: 2.6rem;
    padding-bottom: 2.6rem
}

.py-\[2rem\] {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.py-\[3rem\] {
    padding-top: 3rem;
    padding-bottom: 3rem
}

.py-\[4rem\] {
    padding-top: 4rem;
    padding-bottom: 4rem
}

.py-\[6rem\] {
    padding-top: 6rem;
    padding-bottom: 6rem
}

.py-\[8rem\] {
    padding-top: 8rem;
    padding-bottom: 8rem
}

.\!pr-0 {
    padding-right: 0 !important
}

.pb-\[10rem\] {
    padding-bottom: 10rem
}

.pb-\[2rem\] {
    padding-bottom: 2rem
}

.pb-\[4rem\] {
    padding-bottom: 4rem
}

.pb-\[8rem\] {
    padding-bottom: 8rem
}

.pl-2 {
    padding-left: .5rem
}

.pt-\[1rem\] {
    padding-top: 1rem
}

.pt-\[2rem\] {
    padding-top: 2rem
}

.pl-3 {
    padding-left: 3rem;
}

.pt-\[4rem\] {
    padding-top: 4rem
}

.pt-\[56\.25\%\] {
    padding-top: 56.25%
}

.pt-\[6rem\] {
    padding-top: 6rem
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-start {
    text-align: start
}

.text-\[1\.4rem\] {
    font-size: 1.4rem
}

.text-\[1\.6rem\] {
    font-size: 1.6rem
}

.text-\[1rem\] {
    font-size: 1rem
}

.text-\[2\.4rem\] {
    font-size: 2.4rem
}

.text-\[2rem\] {
    font-size: 2rem
}

.text-\[4rem\] {
    font-size: 4rem
}

.font-bold {
    font-weight: 700
}

.font-normal {
    font-weight: 400
}

.capitalize {
    text-transform: capitalize
}

.\!leading-\[2\.8rem\] {
    line-height: 2.8rem !important
}

.leading-\[1\.5\] {
    line-height: 1.5
}

.leading-\[2\.2rem\] {
    line-height: 2.2rem
}

.leading-\[2\.3rem\] {
    line-height: 2.3rem
}

.leading-\[2\.76rem\] {
    line-height: 2.76rem
}

.leading-\[3\.5rem\] {
    line-height: 3.5rem
}

.leading-\[4rem\] {
    line-height: 4rem
}

.leading-\[normal\] {
    line-height: normal
}

.\!text-white {
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255 / var(--tw-text-opacity)) !important
}

.text-black,
.text-black-2 {
    --tw-text-opacity: 1;
    color: rgb(20 20 20 / var(--tw-text-opacity))
}

.text-grey {
    --tw-text-opacity: 1;
    color: rgb(65 89 104 / var(--tw-text-opacity))
}

.text-right {
    text-align: right
}

.text-snowfall-2 {
    --tw-text-opacity: 1;
    color: rgb(151 163 174 / var(--tw-text-opacity))
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

.underline {
    text-decoration-line: underline
}

.decoration-green {
    text-decoration-color: #b3d335
}

.decoration-transparent {
    text-decoration-color: transparent
}

.opacity-0 {
    opacity: 0
}

.opacity-100 {
    opacity: 1
}

.shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.transition-colors {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.duration-200 {
    transition-duration: .2s
}

.duration-300 {
    transition-duration: .3s
}

.ease-in-out {
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.ease-out {
    transition-timing-function: cubic-bezier(0, 0, .2, 1)
}

.job-description ul {
    display: block;
    list-style-type: initial;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
    unicode-bidi: isolate
}

.job-description li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate
}

.job-description p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate
}

.hover\:border-black:hover {
    --tw-border-opacity: 1;
    border-color: rgb(20 20 20 / var(--tw-border-opacity))
}

.hover\:bg-\[\#f7f7f7\]:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(247 247 247 / var(--tw-bg-opacity))
}

.hover\:bg-aurora-borealis-1:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(0 117 101 / var(--tw-bg-opacity))
}

.hover\:bg-lake-1:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(0 131 173 / var(--tw-bg-opacity))
}

.hover\:bg-snowfall:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(218 225 233 / var(--tw-bg-opacity))
}

.hover\:bg-white:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.hover\:text-aurora-borealis-1:hover {
    --tw-text-opacity: 1;
    color: rgb(0 117 101 / var(--tw-text-opacity))
}

.hover\:text-black:hover {
    --tw-text-opacity: 1;
    color: rgb(20 20 20 / var(--tw-text-opacity))
}

.hover\:text-blue:hover {
    --tw-text-opacity: 1;
    color: rgb(17 183 225 / var(--tw-text-opacity))
}

.hover\:text-lake-1:hover {
    --tw-text-opacity: 1;
    color: rgb(0 131 173 / var(--tw-text-opacity))
}

.hover\:text-teal:hover {
    --tw-text-opacity: 1;
    color: rgb(59 187 156 / var(--tw-text-opacity))
}

.hover\:text-white:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

.hover\:underline:hover {
    text-decoration-line: underline
}

.hover\:decoration-current:hover {
    text-decoration-color: currentColor
}

.focus\:bg-aurora-borealis-1:focus {
    --tw-bg-opacity: 1;
    background-color: rgb(0 117 101 / var(--tw-bg-opacity))
}

.group:hover .group-hover\:max-h-\[15rem\] {
    max-height: 15rem
}

.group\/link:hover .group-hover\/link\:rotate-180 {
    --tw-rotate: 180deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.group:hover .group-hover\:gap-\[1rem\] {
    gap: 1rem
}

.group\/nav:hover .group-hover\/nav\:bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(20 20 20 / var(--tw-bg-opacity))
}

.group\/nav:hover .group-hover\/nav\:bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.group:hover .group-hover\:bg-teal {
    --tw-bg-opacity: 1;
    background-color: rgb(59 187 156 / var(--tw-bg-opacity))
}

.group\/nav:hover .group-hover\/nav\:text-black {
    --tw-text-opacity: 1;
    color: rgb(20 20 20 / var(--tw-text-opacity))
}

.group\/nav:hover .group-hover\/nav\:text-grey {
    --tw-text-opacity: 1;
    color: rgb(65 89 104 / var(--tw-text-opacity))
}

.group\/nav:hover .group-hover\/nav\:opacity-0 {
    opacity: 0
}

.group\/nav:hover .group-hover\/nav\:opacity-100,
.group:hover .group-hover\:opacity-100 {
    opacity: 1
}

.current\:text-lake-1.active {
    --tw-text-opacity: 1;
    color: rgb(0 131 173 / var(--tw-text-opacity))
}

.current\:decoration-current.active {
    text-decoration-color: currentColor
}

.group\/nav.active .group-current\/nav\:bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(20 20 20 / var(--tw-bg-opacity))
}

.group\/nav.active .group-current\/nav\:bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.group\/nav.active .group-current\/nav\:text-black {
    --tw-text-opacity: 1;
    color: rgb(20 20 20 / var(--tw-text-opacity))
}

.group\/nav.active .group-current\/nav\:text-grey {
    --tw-text-opacity: 1;
    color: rgb(65 89 104 / var(--tw-text-opacity))
}

.group\/nav.active .group-current\/nav\:opacity-0 {
    opacity: 0
}

.group\/nav.active .group-current\/nav\:opacity-100 {
    opacity: 1
}

.group.is-scrolled .group-scrolled\:bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(20 20 20 / var(--tw-bg-opacity))
}

.group.is-scrolled .group-scrolled\:bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.group.is-scrolled .group-scrolled\:text-black {
    --tw-text-opacity: 1;
    color: rgb(20 20 20 / var(--tw-text-opacity))
}

.group.is-scrolled .group-scrolled\:text-grey {
    --tw-text-opacity: 1;
    color: rgb(65 89 104 / var(--tw-text-opacity))
}

.group.is-scrolled .group-scrolled\:opacity-0 {
    opacity: 0
}

.group.is-scrolled .group-scrolled\:opacity-100 {
    opacity: 1
}

.svg-path\:stroke-current svg path {
    stroke: currentColor
}

@media not all and (min-width: 1024px) {
    .max-lg\:hidden {
        display: none
    }
}

@media not all and (min-width: 768px) {
    .max-md\:left-0 {
        left: 0
    }

    .max-md\:-mx-\[2rem\] {
        margin-left: -2rem;
        margin-right: -2rem
    }

    .max-md\:mt-\[2rem\] {
        margin-top: 2rem
    }

    .max-md\:hidden {
        display: none
    }

    .max-md\:w-\[20\.5rem\] {
        width: 20.5rem
    }

    .max-md\:w-screen {
        width: 100vw
    }

    .max-md\:whitespace-nowrap {
        white-space: nowrap
    }
}

@media not all and (min-width: 640px) {
    .max-sm\:text-\[2\.4rem\] {
        font-size: 2.4rem
    }

    .max-sm\:leading-\[2\.76rem\] {
        line-height: 2.76rem
    }
}

@media (min-width: 768px) {
    .md\:absolute {
        position: absolute
    }

    .md\:relative {
        position: relative
    }

    .md\:bottom-0 {
        bottom: 0
    }

    .md\:bottom-\[3\.4rem\] {
        bottom: 3.4rem
    }

    .md\:right-0 {
        right: 0
    }

    .md\:object-center-9 {
        object-position: center 9%;
    }

    .md\:z-10 {
        z-index: 10
    }

    .md\:h-auto {
        height: auto;
    }

    .md\:col-span-4 {
        grid-column: span 4 / span 4
    }

    .md\:col-span-7 {
        grid-column: span 7 / span 7
    }

    .md\:col-span-8 {
        grid-column: span 8 / span 8
    }

    .md\:mx-\[0\.9rem\] {
        margin-left: .9rem;
        margin-right: .9rem
    }

    .md\:mx-\[1rem\] {
        margin-left: 1rem;
        margin-right: 1rem
    }

    .md\:mx-\[2rem\] {
        margin-left: 2rem;
        margin-right: 2rem
    }

    .md\:-ml-\[4rem\] {
        margin-left: -4rem
    }

    .md\:-mr-\[11\.1rem\] {
        margin-right: -11.1rem
    }

    .md\:-mr-\[6rem\] {
        margin-right: -6rem
    }

    .md\:mb-\[6\.4rem\] {
        margin-bottom: 6.4rem
    }

    .md\:ml-\[4rem\] {
        margin-left: 4rem
    }

    .md\:ml-\[6rem\] {
        margin-left: 6rem
    }

    .md\:mr-\[2rem\] {
        margin-right: 2rem
    }

    .md\:block {
        display: block
    }

    .md\:flex {
        display: flex
    }

    .md\:hidden {
        display: none
    }

    .md\:h-\[29\.25rem\] {
        height: 29.25rem
    }

    .md\:h-\[40\.5rem\] {
        height: 40.5rem
    }

    .md\:h-\[44\.3rem\] {
        height: 44.3rem
    }

    .md\:h-\[50\.9rem\] {
        height: 50.9rem
    }

    .md\:h-\[50rem\] {
        height: 50rem
    }

    .md\:h-\[55\.1rem\] {
        height: 55.1rem
    }

    .md\:h-\[57\.6rem\] {
        height: 57.6rem
    }

    .md\:h-\[59rem\] {
        height: 59rem
    }

    .md\:h-\[61\.5rem\] {
        height: 61.5rem
    }

    .md\:h-\[86\.4rem\] {
        height: 86.4rem
    }

    .md\:h-\[13\.1rem\] {
        height: 13.1rem
    }

    .md\:h-full {
        height: 100%
    }

    .md\:min-h-\[9rem\] {
        min-height: 9rem
    }

    .md\:w-\[27\.6rem\] {
        width: 27.6rem
    }

    .md\:w-\[34\.8rem\] {
        width: 34.8rem
    }

    .md\:w-\[28\.6rem\] {
        width: 28.6rem
    }

    .md\:w-\[30\.2rem\] {
        width: 30.2rem
    }

    .md\:justify-between {
        justify-content: space-between;
    }

    .md\:w-\[30\.8rem\] {
        width: 30.8rem
    }

    .md\:w-\[36\.3rem\] {
        width: 36.3rem
    }

    .md\:w-\[40\.9rem\] {
        width: 40.9rem
    }

    .md\:w-\[52rem\] {
        width: 52rem
    }

    .md\:w-\[61\.4rem\] {
        width: 61.4rem
    }

    .md\:min-w-\[20rem\] {
        min-width: 20rem
    }

    .md\:min-w-\[22\.5rem\] {
        min-width: 22.5rem
    }

    .md\:max-w-\[40rem\] {
        max-width: 40rem
    }

    .md\:w-\[28rem\] {
        width: 28rem
    }

    .md\:max-w-\[50\%\] {
        max-width: 50%
    }

    .md\:max-w-\[61\.2rem\] {
        max-width: 61.2rem
    }

    .md\:flex-1 {
        flex: 1 1 0%
    }

    .md\:flex-shrink-0,
    .md\:shrink-0 {
        flex-shrink: 0
    }

    .md\:basis-1\/2 {
        flex-basis: 50%
    }

    .md\:basis-\[calc\(\(100\%-1\.8rem\)\/3\*2\)\] {
        flex-basis: calc((100% - 1.8rem) / 3 * 2)
    }

    .md\:basis-\[calc\(100\%-2\.5rem\*2-2rem\*2\)\] {
        flex-basis: calc(100% - 9rem)
    }

    .md\:basis-\[calc\(100\%-4rem-12\.4rem\)\] {
        flex-basis: calc(100% - 16.4rem)
    }

    .md\:basis-full {
        flex-basis: 100%
    }

    .md\:grid-cols-12 {
        grid-template-columns: repeat(12, minmax(0, 1fr))
    }

    .md\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }

    .md\:grid-rows-1 {
        grid-template-rows: repeat(1, minmax(0, 1fr))
    }

    .md\:grid-rows-2 {
        grid-template-rows: repeat(2, minmax(0, 1fr))
    }

    .md\:flex-row {
        flex-direction: row
    }

    .md\:flex-col-reverse {
        flex-direction: column-reverse
    }

    .md\:flex-wrap {
        flex-wrap: wrap
    }

    .md\:items-start {
        align-items: flex-start
    }

    .md\:items-center {
        align-items: center
    }

    .md\:items-baseline {
        align-items: baseline
    }

    .md\:justify-center {
        justify-content: center
    }

    .md\:justify-between {
        justify-content: space-between
    }

    .md\:gap-0 {
        gap: 0px
    }

    .md\:gap-\[3rem\] {
        gap: 3rem
    }

    .md\:gap-\[4rem\] {
        gap: 4rem
    }

    .md\:gap-\[6rem\] {
        gap: 6rem
    }

    .md\:gap-x-\[2rem\] {
        -moz-column-gap: 2rem;
        column-gap: 2rem
    }

    .md\:gap-x-\[6rem\] {
        -moz-column-gap: 6rem;
        column-gap: 6rem
    }

    .md\:gap-x-\[9\.8rem\] {
        -moz-column-gap: 9.8rem;
        column-gap: 9.8rem
    }

    .md\:gap-y-\[2rem\] {
        row-gap: 2rem
    }

    .md\:bg-white {
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity))
    }

    .md\:p-\[2rem\] {
        padding: 2rem
    }

    .md\:px-\[2\.8rem\] {
        padding-left: 2.8rem;
        padding-right: 2.8rem
    }

    .md\:px-\[4rem\] {
        padding-left: 4rem;
        padding-right: 4rem
    }

    .md\:px-\[6rem\] {
        padding-left: 6rem;
        padding-right: 6rem
    }

    .md\:py-\[2\.6rem\] {
        padding-top: 2.6rem;
        padding-bottom: 2.6rem
    }

    .md\:py-\[4rem\] {
        padding-top: 4rem;
        padding-bottom: 4rem
    }

    .md\:py-\[6rem\] {
        padding-top: 6rem;
        padding-bottom: 6rem
    }

    .md\:py-\[8rem\] {
        padding-top: 8rem;
        padding-bottom: 8rem
    }

    .md\:pb-\[5rem\] {
        padding-bottom: 5rem
    }

    .md\:pb-\[6rem\] {
        padding-bottom: 6rem
    }

    .md\:pl-\[3rem\] {
        padding-left: 3rem
    }

    .md\:pl-\[8rem\] {
        padding-left: 8rem
    }

    .md\:pr-\[3rem\] {
        padding-right: 3rem
    }

    .md\:pr-\[8rem\] {
        padding-right: 8rem
    }

    .md\:pt-0 {
        padding-top: 0
    }

    .md\:pt-\[1rem\] {
        padding-top: 1rem
    }

    .md\:pt-\[3rem\] {
        padding-top: 3rem
    }

    .md\:text-center {
        text-align: center
    }

    .md\:text-start {
        text-align: start
    }

    .md\:text-\[2\.4rem\] {
        font-size: 2.4rem
    }

    .md\:text-\[2rem\] {
        font-size: 2rem
    }

    .md\:font-bold {
        font-weight: 700
    }

    .md\:leading-\[2\.3rem\] {
        line-height: 2.3rem
    }

    .md\:leading-\[2\.76rem\] {
        line-height: 2.76rem
    }

    .md\:leading-\[normal\] {
        line-height: normal
    }

    .md\:leading-normal {
        line-height: 1.5
    }
}

@media (min-width: 1024px) {
    .lg\:relative {
        position: relative
    }

    .lg\:sticky {
        position: sticky
    }

    .lg\:top-\[10rem\] {
        top: 10rem
    }

    .lg\:top-\[8rem\] {
        top: 8rem
    }

    .lg\:text-\[2rem\] {
        font-size: 2rem;
    }

    .lg\:-ml-\[7\.5rem\] {
        margin-left: -7.5rem
    }

    .lg\:-mr-\[7\.5rem\] {
        margin-right: -7.5rem
    }

    .lg\:ml-0 {
        margin-left: 0
    }

    .lg\:ml-\[7\.5rem\] {
        margin-left: 7.5rem
    }

    .lg\:mr-0 {
        margin-right: 0
    }

    .lg\:mr-\[-8\.8rem\] {
        margin-right: -8.8rem
    }

    .lg\:mb-\[8rem\] {
        margin-bottom: 8rem
    }

    .lg\:flex {
        display: flex
    }

    .lg\:hidden {
        display: none
    }

    .lg\:h-\[51\.4rem\] {
        height: 51.4rem
    }

    .lg\:h-\[54\.7rem\] {
        height: 54.7rem
    }

    .lg\:h-\[14\.7rem\] {
        height: 14.7rem
    }

    .lg\:h-\[60rem\] {
        height: 60rem
    }

    .lg\:h-\[7rem\] {
        height: 7rem
    }

    .lg\:h-full {
        height: 100%
    }

    .lg\:max-h-\[41\.8rem\] {
        max-height: 41.8rem
    }

    .lg\:min-h-\[51\.4rem\] {
        min-height: 51.4rem
    }

    .lg\:min-h-\[55rem\] {
        min-height: 55rem
    }

    .lg\:min-h-\[6rem\] {
        min-height: 6rem
    }

    .lg\:w-1\/2 {
        width: 50%
    }

    .lg\:w-1\/3 {
        width: 33.333333%
    }

    .lg\:w-3\/5 {
        width: 60%
    }

    .lg\:w-5\/12 {
        width: 41.666667%
    }

    .lg\:w-7\/12 {
        width: 58.333333%
    }

    .lg\:w-\[31\.6rem\] {
        width: 31.6rem
    }

    .lg\:w-\[39\.1rem\] {
        width: 39.1rem
    }

    .lg\:w-\[41\.8rem\] {
        width: 41.8rem
    }

    .lg\:w-\[52\.1rem\] {
        width: 52.1rem
    }

    .lg\:w-\[52\.6rem\] {
        width: 52.6rem
    }

    .lg\:w-\[72rem\] {
        width: 72rem
    }

    .lg\:w-\[81\.9rem\] {
        width: 81.9rem
    }

    .lg\:w-\[94\.3rem\] {
        width: 94.3rem
    }

    .lg\:w-\[60\%\] {
        width: 60%;
    }

    .lg\:leading-\[2\.6rem\] {
        line-height: 2.6rem;
    }

    .lg\:w-full {
        width: 100%
    }

    .lg\:w-max {
        width: -moz-max-content;
        width: max-content
    }

    .lg\:min-w-\[38\.7rem\] {
        min-width: 38.7rem
    }

    .lg\:min-w-\[7rem\] {
        min-width: 7rem
    }

    .lg\:max-w-\[40rem\] {
        max-width: 40rem
    }

    .lg\:shrink-0 {
        flex-shrink: 0
    }

    .lg\:basis-1\/2 {
        flex-basis: 50%
    }

    .lg\:h-auto {
        height: auto;
    }

    .lg\:block {
        display: block;
    }

    .lg\:basis-\[calc\(\(100\%-1\.8rem\*2\)\/12\*5\)\] {
        flex-basis: calc((100% - 1.8rem * 2) / 12 * 5)
    }

    .lg\:basis-\[calc\(\(100\%-4rem\*2-6\.5rem\)\/2\)\] {
        flex-basis: calc((100% - 14.5rem)/2)
    }

    .lg\:basis-\[calc\(100\%-34\.75rem\*2\)\] {
        flex-basis: calc(100% - 69.5rem)
    }

    .lg\:flex-row {
        flex-direction: row
    }

    .lg\:font-bold {
        font-weight: 700
    }

    .lg\:flex-row-reverse {
        flex-direction: row-reverse
    }

    .lg\:flex-col {
        flex-direction: column
    }

    .lg\:items-start {
        align-items: flex-start
    }

    .lg\:justify-center {
        justify-content: center
    }

    .lg\:justify-between {
        justify-content: space-between
    }

    .lg\:gap-\[10rem\] {
        gap: 10rem
    }

    .lg\:gap-\[13rem\] {
        gap: 13rem
    }

    .lg\:gap-\[2rem\] {
        gap: 2rem
    }

    .lg\:gap-\[4rem\] {
        gap: 4rem
    }

    .lg\:gap-\[7\.4rem\] {
        gap: 7.4rem
    }

    .lg\:px-\[4rem\] {
        padding-left: 4rem;
        padding-right: 4rem
    }

    .lg\:px-\[7\.5rem\] {
        padding-left: 7.5rem;
        padding-right: 7.5rem
    }

    .lg\:py-\[10rem\] {
        padding-top: 10rem;
        padding-bottom: 10rem
    }

    .lg\:py-\[6rem\] {
        padding-top: 6rem;
        padding-bottom: 6rem
    }

    .lg\:py-\[3rem\] {
        padding-top: 3rem;
        padding-bottom: 3rem
    }

    .lg\:flex-1 {
        flex: 1;
    }

    .lg\:py-\[8rem\] {
        padding-top: 8rem;
        padding-bottom: 8rem
    }

    .group:hover .lg\:group-hover\:max-h-\[20rem\] {
        max-height: 20rem
    }
}

@media (min-width: 1536px) {
    .\32xl\:h-\[55rem\] {
        height: 55rem
    }

    .\32xl\:h-\[72rem\] {
        height: 72rem
    }

    .\32xl\:object-center-25 {
        -o-object-position: center 25%;
        object-position: center 25%
    }
}


.jp-widget-container .swiper-wrapper {
    padding-top: 6.4rem;
    justify-content: center;
}

.border-transparent {
    border-color: #0000;
}

.border-\[0\.3rem\] {
    border-style: var(--tw-border-style);
    border-width: 0.3rem;
}

.current\:border-\[\#007565\].current {
    border-color: #007565;
}

.lh-normal {
    line-height: normal;
}

.text-shadow {
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05);
}

.object-top {
    object-position: top;
}

.list-circle {
    list-style-type: circle;
}